@use '../01_helpers' as h;
@use '../03_basics/colors' as color;

.clients-slider {
  @include h.breakpoint(tablet) {
    @include h.sc-boxed;
    border-top: 1px solid color.$primary-dark;
    .ce {
      background-repeat: no-repeat;
      height: 150px;
    }
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
