@use '../01_helpers' as h;
@use '../03_basics/colors' as color;

.event-card {
  min-height: 350px;
  .date-big {
    color: color.$primary-dark;
    font-size: 3.5em;
    font-weight: 600;
    margin: 30px 0;
    border-bottom: 1px solid color.$primary-dark;
    @include h.breakpoint(desktop) {
      font-size: 4em;
    }

    sup {
      font-size: initial;
      vertical-align: 30px;
      color: rgb(141, 141, 141);
      font-weight: 600;
      margin-left: 5px;
    }
  }
  i {
    display: inline-block;
    transform: scale(0.7);
    margin-right: 10px;
    vertical-align: middle;
  }
}
