@use '../01_helpers' as h;
@use '../03_basics/colors' as color;

#s2-1 {
  padding: 50px 0;
  @include h.breakpoint(desktop) {
    padding: 150px 0 50px;
  }
  .fc1,
  .fc2 {
    @include h.sc-boxed;
    @media (min-width: 1025px) and (max-width: 1250px) {
      width: 80%;
    }
  }
  h3 {
    font-size: 1.3em;
    font-weight: 600;
    text-align: left;
  }
  .ce {
    align-self: flex-start;
    @include h.breakpoint(tablet) {
      padding: 0 20px 0 0;
      width: 100%;
    }
    @include h.breakpoint(desktop) {
      padding: 0 25px;
    }
  }
}
#s2-2 {
  @include h.breakpoint(tablet) {
    margin-top: -120px;
    background: url(/assets/img/210_bgr.png) right no-repeat;
    height: 209px;
    padding-top: 0;
    opacity: 0.05;
  }
}
#s2-3 {
  @include h.breakpoint(tablet) {
    background: url(/assets/img/230_bgr.png) right no-repeat;
    height: 477px;
    padding-top: 0;
    opacity: 0.05;
  }
}
#s2-4 {
  .fc1 {
    @include h.sc-boxed;
  }
  background-image: linear-gradient(
    color.$secondary-complementary 62%,
    color.$primary 62%
  );
  @include h.breakpoint(tablet) {
    margin-top: -550px;
  }
  img {
    position: relative;
    z-index: 1;
    width: 100%;
  }
}
#s2-5 {
  background-color: color.$primary;
  padding-top: 50px;
  padding-bottom: 50px;
  .fc2 {
    align-items: flex-start;
    @include h.sc-boxed;
    @media (min-width: 1025px) and (max-width: 1500px) {
      width: 75%;
    }
  }
  .ce {
    padding-right: 20px;
  }
  h2,
  h3 {
    text-align: left;
  }
  h3 {
    margin-top: 0;
  }
  .content-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .icons {
    padding-top: 15px;
    width: 13%;
    color: color.$primary-dark;
  }
  .icon {
    margin: 0px 13px;
  }
  @media (max-width: map-get($map: h.$breakpoints, $key: "desktop")) {
    h2,
    h3,
    p {
      text-align: center;
    }
    .ce {
      padding: 0 0 50px 0;
      width: 100%;
    }
    .divider-horizontal {
      margin: 0 auto;
    }
    .content-wrapper {
      display: block;
      text-align: center;

      .icons {
        margin: 0 auto 20px;
        i {
          transform: translateX(100%);
        }
      }
    }
  }
  @include h.breakpoint(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

#s2-6 {
  @include h.sc-boxed;
  h2 {
    text-align: left;
  }
  padding: 50px 0;
  .ce {
    padding: 0 25px;
  }
}
