@use '../01_helpers' as h;
@use '../03_basics/colors' as color;

#s1-1 {
  padding-top: 50px;
  background-image: linear-gradient(
    color.$secondary-complementary 50%,
    color.$primary 50%
  );
  @include h.breakpoint(desktop) {
    padding-top: 150px;
    background-image: linear-gradient(
      color.$secondary-complementary 62%,
      color.$primary 62%
    );
  }
  .fc1,
  .fc3 {
    @include h.sc-boxed;
  }
  .fc3 {
    text-align: center;
  }
  padding-bottom: 50px;
  p {
    width: 80%;
    margin: 0 auto 10px;
    @include h.breakpoint(tablet) {
      width: 100%;
    }
  }
}

#s1-2 {
  @include h.breakpoint(desktop) {
    background-image: url(/assets/img/12_background.png);
    background-color: color.$primary;
    height: 241px;
    padding-top: 0;
  }
}
#s1-3 {
  background: color.$primary url(/assets/img/13_background.png) no-repeat 300px;
  background-position: 300px;
  @include h.breakpoint(tablet) {
    background: color.$primary url(/assets/img/13_background_1025.png) no-repeat -600px;
  }
  @include h.breakpoint(desktop) {
    background: color.$primary url(/assets/img/13_background_1025.png) no-repeat;
  }

  text-align: left;

  h2 {
    text-align: left;
  }

  .fc2 {
    @include h.sc-boxed;
    position: relative;
    padding: 50px 0;
    @include h.breakpoint(tablet) {
      padding-bottom: 150px;
    }
    img {
      position: absolute;
      z-index: 0;
      filter: opacity(20%);
      object-fit: none;
      display: block;
      height: 150px;
      left: -50px;
      bottom: 20px;
    }
  }

  .ce {
    padding-right: 50px;
    position: relative;
    z-index: 1;
    background-color: color.$primary;
    @include h.breakpoint(tablet) {
      width: 75%;
    }
  }
  p,
  a {
    z-index: 1;
  }
  a {
    margin-top: 80px;
    position: relative;
  }
}

#s1-4 {
  @include h.sc-boxed;
  @media (min-width: 1025px) and (max-width: 1250px) {
    width: 75%;
  }
  h2 {
    text-align: left;
  }

  .fc4 {
    @include h.breakpoint(desktop) {
      padding: 100px 0;
      .content-wrapper {
        width: 70%;
      }
    }
  }
}

#s1-5 {
  @include h.breakpoint(tablet) {
    padding: 0;
    height: 209px;
    background: url(/assets/img/15_background.png) no-repeat;
    opacity: 0.03;
  }
}

#s1-6 {
  margin-top: 100px;
  position: relative;
  padding: 0;
  min-height: 570px;
  background-color: color.$primary;
  @include h.breakpoint(tablet) {
    margin-top: 0;
  }

  > .fc2 {
    flex-direction: column-reverse;
    @include h.breakpoint(desktop) {
      flex-flow: initial;
    }

    @include h.sc-boxed;
    @media (min-width: 1025px) and (max-width: 1250px) {
      width: 90%;
    }
    @media (min-width: 1250px) and (max-width: 1450px) {
      width: 80%;
    }
  }
  .ce {
    padding-right: 30px;
    @include h.breakpoint(tablet) {
      width: auto;
    }
  }
  &::after {
    content: "";
    background-image: url(/assets/img/16_background.png);
    height: 477px;
    width: 100%;
    position: absolute;
    opacity: 0.03;
    top: 0;
  }
  h2 {
    text-align: left;
  }
  img {
    height: 600px;
    width: auto;
    margin: -30px 0 50px;
  }
  .quote {
    width: 18%;
  }
  i {
    transform: scale(4);
  }
}
#s1-7 {
  @include h.breakpoint(tablet) {
    .ce {
      width: 100%;
    }
  }
  @include h.sc-boxed;

  h2 {
    text-align: left;
  }
}
