$primary: #fff;
$font: #777;
$headings: #444;
$borders: #ddd;

/*$primary-dark: rgb(255, 180, 162);
$secondary: rgb(176, 149, 127);
$secondary-complementary: rgb(255, 255, 255);
$secondary-complementary-hoover: rgb(241, 241, 241);*/

